<section class="online-count">
	There are currently <strong id="online-count"><i class="fa fa-refresh fa-spin"></i></strong> users online
</section>

<section class="white">
	<div class="container">
		<div class="metrics-list" id="account-stats">
			<a href="#" class="metrics">
				<div class="number" id="account-stats-total"><i class="fa fa-refresh fa-spin"></i></div>
				<div class="label">TOTAL USER BASE</div>
			</a>
			<a href="#" class="metrics">
				<div class="number" id="account-stats-conversion"><i class="fa fa-refresh fa-spin"></i></div>
				<div class="label">CONVERSION VISITOR -> REGISTERED</div>
			</a>


			<!-- New Users -->
			<a href="#" class="metrics">
				<div class="number" id="account-stats-today"><i class="fa fa-refresh fa-spin"></i></div>
				<div class="label">NEW USERS TODAY</div>
			</a>
			<a href="#" class="metrics">
				<div class="number" id="account-stats-yesterday"><i class="fa fa-refresh fa-spin"></i></div>
				<div class="label">NEW USERS YESTERDAY</div>
			</a>
			<a href="#" class="metrics">
				<div class="number" id="account-stats-month"><i class="fa fa-refresh fa-spin"></i></div>
				<div class="label">NEW USERS THIS MONTH</div>
			</a>

			<!-- Recurring Users -->
			<a href="#" class="metrics">
				<div class="number" id="account-stats-recurring-month"><i class="fa fa-refresh fa-spin"></i></div>
				<div class="label">RECURRING USERS THIS MONTH</div>
			</a>

			<a href="#" class="metrics">
				<div class="number" id="account-stats-recurring-last-month"><i class="fa fa-refresh fa-spin"></i></div>
				<div class="label">RECURRING USERS LAST MONTH</div>
			</a>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<h1>USER ACCOUNTS</h1>
		<div class="graph" id="account-graph"></div>
	</div>
</section>
<section class="white">
	<div class="container">
		<div class="progress-bar">
			<div class="progress-section" id="facebook-part"></div>
			<div class="progress-section" id="twitter-part"></div>
			<div class="progress-section" id="instagram-part"></div>
			<div class="progress-section" id="youtube-part"></div>
			<div class="progress-section" id="tumblr-part"></div>
		</div>

		<div class="metrics-list" id="provider-stats">
			<a href="#" class="metrics facebook">
				<div class="number" id="provider-stats-facebook"><i class="fa fa-refresh fa-spin"></i></div>
				<div class="label">FACEBOOK ACCOUNTS</div>
			</a>

			<a href="#" class="metrics twitter">
				<div class="number" id="provider-stats-twitter"><i class="fa fa-refresh fa-spin"></i></div>
				<div class="label">TWITTER ACCOUNTS</div>
			</a>

			<a href="#" class="metrics instagram">
				<div class="number" id="provider-stats-instagram"><i class="fa fa-refresh fa-spin"></i></div>
				<div class="label">INSTAGRAM ACCOUNTS</div>
			</a>

			<a href="#" class="metrics youtube">
				<div class="number" id="provider-stats-youtube"><i class="fa fa-refresh fa-spin"></i></div>
				<div class="label">YOUTUBE ACCOUNTS</div>
			</a>

			<a href="#" class="metrics tumblr">
				<div class="number" id="provider-stats-tumblr"><i class="fa fa-refresh fa-spin"></i></div>
				<div class="label">TUMBLR ACCOUNTS</div>
			</a>
		</div>
	</div>
</section>
