<div class="box" style="width:540px;">
	<h1><i class="fa fa-ban"></i>AdBlock not recommended</h1>
	<div class="content">
		<p style="margin-top:0;">You seem to be using a browser extension that blocks advertisements. While we don't have any advertisements at this point, we would just want to warn you that <strong>AdBlock extensions sometimes interfere with our layout and certain features may not work like they should.</strong></p>
		<p style="margin-bottom:5px;"><strong>We would therefore strongly recommend you to whitelist Feedient</strong> in your AdBlock extension. This is usually done by clicking on the AdBlock icon in your browser. Thanks in advance.</p>
		<br>
		<a href="javascript:void(0)" onClick="app.allowAdBlock()" class="button">I want to enter Feedient anyway</a>
	</div>
</div>