<div class="box" style="width:540px;">
	<h1><i class="fa fa-exclamation"></i> Your web browser is too old</h1>
	<div class="content">
		<p>Feedient is built upon modern web technology and therefore needs to be visited from a modern web browser. Your browser does not support all the technology we make use of.</p>

		<p><strong>Please upgrade to a faster and more powerful web browser.</strong></p>

		<div style="height:130px;">
			<a href="https://www.google.com/intl/en/chrome/browser/" target="_blank" style="margin-right:20px;"><img src="/app/images/browsers-large/chrome.png" alt="Chrome"></a>
			<a href="http://www.mozilla.org/firefox/" target="_blank" style="margin-right:20px;"><img src="/app/images/browsers-large/firefox.png" alt="Firefox"></a>
			<a href="http://www.opera.com/" target="_blank"><img src="/app/images/browsers-large/opera.png" alt="Opera"></a>
		</div>

		<div style="margin-top:15px;padding-top:15px;border-top:1px solid #e1e1e1;font-size:11px;">The technical requirement your browser fails to meet is HTML5 {{technology}}</div>
	</div>
</div>