<footer>
	<section class="center">
		<div class="right">
			<ul>
				<li><a href="about">About</a></li>
				<li><a href="http://blog.feedient.com">Blog</a></li>
				<li><a href="press">Press</a></li>
				<li><a href="contact">Contact</a></li>
				<li><a href="privacy">Privacy</a></li>
				<li><a href="legal">Legal</a></li>
			</ul>
		</div>
		<a href="/" class="logo"></a>
	</center>
</footer>


<script>
	document.write('<script src="/shared/js/' + ('__proto__' in {} ? 'zepto' : 'jquery') + '.min.js"><\/script>');
</script>
<!--[if IE]>
	<script src="/shared/js/jquery.xdomainrequest.min.js"></script>
<![endif]-->
<script src="/shared/js/jquery.cookie.min.js"></script>
<script src="js/main.js"></script>