<div id="nav-bg">
	<nav>
		<a href="/" class="logo"></a>
		<div class="right">
			<div id="logged-in" style="display:none;">
				<a>You are logged in</a>
				<a href="app" class="button">OPEN APP</a>
			</div>
			<div id="logged-out">
				<a href="javascript:void(0)" id="login-button" class="action-login">LOG IN</a>
				<a href="javascript:void(0)" id="signup-button" class="action-signup button">SIGN UP</a>
			</div>
		</div>
		<div class="clear"></div>
	</nav>
</div>
