<a href="javascript:void(0)" onClick="app.lib.ui.modal.hide()" class="close-modal">
	<i class="fa fa-times"></i>
</a>
<h1><i class="fa fa-credit-card"></i> These ads pay our bills</h1>
<p>Feedient isn't owned by some huge corporation, but rather a bunch of creative students. Ads are necessary to help pay our server bills, while keeping it free for our users.</p>

<p>Thanks for understanding.</p>
<p>Sincerely,<br>The Feedient Team</p>

<div class="right">
	<a href="javascript:void(0)" onClick="app.lib.ui.modal.hide()" class="button secondary-button">{{i18n "errors:warnings.alpha.close" }}<a>

</div>

<div class="clear"></div>