<a href="javascript:void(0)" onClick="app.lib.ui.modal.hide()" class="close-modal">
	<i class="fa fa-times"></i>
</a>
<h1><i class="fa fa-bug"></i>{{i18n "errors:warnings.alpha.header" }}</h1>
<p><strong>{{i18n "errors:warnings.alpha.welcome" }}</strong><br><br>{{i18n "errors:warnings.alpha.content" }}<br><br>{{i18n "errors:warnings.alpha.footer" }}</span></p>

<div class="right">
	<a href="javascript:void(0)" onClick="app.lib.ui.modal.hide()" class="button secondary-button">{{i18n "errors:warnings.alpha.close" }}<a>

</div>

<div class="clear"></div>