<a href="javascript:void(0)" onClick="app.lib.ui.modal.hide()" class="close-modal">
	<i class="fa fa-times"></i>
</a>
<h1><i class="fa fa-unlink"></i> {{provider.formattedName}} account issues</h1>
<p>
	<strong>We do not have permission to manage your {{provider.formattedName}} account <span class="{{provider.providerName}}-color"><i class="{{provider.icon}}"></i> {{provider.name}}</span>.</strong> In order to continue using this account with Feedient, please add it again by clicking on the "{{provider.formattedName}}" button in the "Add account" list. Make sure to approve all the requested permissions. We will never post anything without your consent.
</p>

<div class="right">
	<a href="javascript:void(0)" onClick="app.lib.ui.modal.hide()" class="button secondary-button">I understand<a>

</div>

<div class="clear"></div>