<a href="javascript:void(0)" onClick="app.lib.ui.modal.hide()" class="close-modal"><i class="fa fa-times"></i></a>
<h1>{{i18n 'general:logout.logout' }}</h1>

<p>{{i18n 'general:logout.sure' }}</p>

<div class="right">
	<a href="javascript:void(0)" onClick="app.lib.ui.modal.hide()" class="button secondary-button">{{i18n 'general:logout.cancel' }}</a>&nbsp;&nbsp;
	<a href="javascript:void(0)" onClick="app.lib.ui.logout.submit()" class="button">{{i18n 'general:logout.confirm' }}</a>
</div>

<div class="clear"></div>