<a href="javascript:void(0)" onClick="app.lib.ui.modal.hide()" class="close-modal">
	<i class="fa fa-times"></i>
</a>
<h1><i class="fa fa-credit-card"></i> Remove ads</h1>
<!--<p>This site isn't owned by some huge corporation, but just a couple of creative students. Ads are necessary to help pay our server bills, while keeping Feedient free for our users.</p>-->

<form action="" id="ad-plans">
	<ul>
		<li>
			<div class="right price-tag">&euro;0.99</div>
			<input type="radio" name="duration" value="1">
			Ad-free for <strong>1 month</strong>
		</li>

		<li class="selected">
			<div class="sale-tag">save 33%</div>
			<div class="right price-tag">&euro;1.99</div>
			<input type="radio" name="duration" value="3" checked>
			Ad-free for <strong>3 months</strong>
		</li>

		<li>
			<div class="sale-tag">save 50%</div>
			<div class="right price-tag">&euro;2.99</div>
			<input type="radio" name="duration" value="6">
			Ad-free for <strong>6 months</strong>
		</li>

		<li>
			<div class="sale-tag sale-tag-extra">Best value</div>
			<div class="right price-tag">&euro;8.99</div>
			<input type="radio" name="duration" value="x">
			Ad-free <strong>forever</strong>
		</li>
	</ul>
</form>


<div class="right">
	<a href="javascript:void(0)" class="button" id="payment-button"><i class="fa fa-shopping-cart"></i> Checkout</a>
</div>

<div class="clear"></div>