<!DOCTYPE html>
<html lang="en">
	<head>
		<base href="/">
		<% include ../shared/views/head %>
	</head>

	<body>
		<% include views/top %>

		<header class="small fourohfour">
			<h1>Oops, there is nothing here</h1>
		</header>

		<section class="content-wrapper" id="fourohfour-content">
			<section class="center">
				<i class="fa fa-frown-o"></i>

				<p>We were unable to find the page you were looking for.</p>
			</section>
		</section>
				
		<% include views/modals %>
		<% include views/footer %>
	</body>
</html>
