<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../shared/views/head %>
	</head>

	<body>
		<% include views/top %>

		<header class="medium general about">
			<img src="images/about/logo.png" alt="Feedient" width="199">
		</header>

		<section class="content-wrapper">
			<section class="center center-medium">
				<h1>About Feedient</h1>
				<p>We are a young and ambitious company that was founded in the summer of 2013 by two European students. Driven by the dream of a beautiful, simple and fast “social hub”, we strive to dramatically improve people’s fragmented social media experience. By providing an easy to use and streamlined overview, we want to become the world’s preferred one-stop social media portal.</p>
				
				<div id="feedient-accounts">
					<a href="https://facebook.com/feedient" target="_blank" class="facebook"><i class="fa fa-facebook-square"></i>&nbsp;Feedient</a>
					<a href="https://twitter.com/feedientapp" target="_blank" class="twitter"><i class="fa fa-twitter"></i>&nbsp;@FeedientApp</a>
				</div>
			</section>
		</section>

		<section class="content-wrapper green-section">
			<section class="center center-medium" id="ceo-words">
				<h1>Words from the CEO</h1>
				<p>Social media has drastically changed the way we interact with people. We spend many hours of our valuable time every week, just to catch up with our friends and acquaintances. As unfortunate and inefficient as it may sound, those fine folks are often spread across a wide range of social networks, meaning that you literally have to visit site by site to read it all. At Feedient, we believe there is a better way. Through modern technology and great design, we aim to make your social media experience as efficient and joyful as it deserves to be.
</p>
				<div>
					<div class="name">Jesper Lindström</div>
					<div class="title">Founder &amp; CEO</div>
				</div>
			</section>
		</section>

		<section class="content-wrapper bottom-divider">
			<section class="center" id="team">
				<h1>Team</h1>
				<ul>
					<li>
						<div class="avatar" id="jesper"></div>
						<h2>Jesper Lindström</h2>
						<p class="title">
							Founder &amp; CEO
							<span class="social">
								<a href="http://twitter.com/jesperlindstrom" title="@jesperlindstrom" target="_blank"><i class="fa fa-twitter"></i></a>&nbsp;
								<a href="https://www.linkedin.com/in/jesperlindstrom" target="_blank"><i class="fa fa-linkedin-square"></i></a>
							</span>
						</p>
					</li>
					<li>
						<div class="avatar" id="xavier"></div>
						<h2>Xavier Geerinck</h2>
						<p class="title">
							Founder &amp; CTO
							<span class="social">
								<a href="http://twitter.com/thebillkidy" title="@thebillkidy" target="_blank"><i class="fa fa-twitter"></i></a>&nbsp;
								<a href="https://www.linkedin.com/in/xaviergeerinck" target="_blank"><i class="fa fa-linkedin-square"></i></a>
							</span>
						</p>
					</li>
				</ul>
			</section>
		</section>

		<section class="content-wrapper">
			<section class="center">
				<p style="font-style:italic;font-size:13px;text-align:center;">The header photograph, <a href="https://www.flickr.com/photos/ientu/2919662642" target="_blank" rel="nofollow">“Stockholm by night”</a> is copyright &copy; 2008 Giulio Mola and made available under a Attribution 2.0 Generic license.</p>
			</section>
		</section>
				
		<% include views/modals %>
		<% include views/footer %>
	</body>
</html>
