<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../shared/views/head %>
	</head>

	<body>
		<% include views/top %>

		<header class="small general">
			<h1>Terms of Service</h1>
		</header>

		<section class="content-wrapper" id="fourohfour-content">
			<section class="center">
				<span style="font-size:18px;">This is an open beta release. Use Feedient entirely at your own risk.</span>
			</section>
		</section>
				
		<% include views/modals %>
		<% include views/footer %>
	</body>
</html>
