<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../shared/views/head %>
	</head>

	<body>
		<% include views/top %>

		<header class="medium general press">
			<img src="images/press/logo.png" alt="Feedient" width="199">
		</header>

		<section class="content-wrapper bottom-divider">
			<section class="center center-medium">
				<h1>Press releases</h1>

				<article class="press-release">
					<h2>Your social notifications in one place</h2>
					<p class="sub-headline">Tuesday, 24 Jun 2014</p>
					<div class="message">
						<p>Today we launch a new, highly requested feature – notifications. Keep track of all your comments, mentions and other happenings in our combined "notification hub". Our expanded view allows you to quickly respond or take action on a message, without even closing the notification list.</p>
					</div>
				</article>

				<div class="press-divider"></div>

				<article class="press-release">
					<h2>Feedient launches Tumblr support</h2>
					<p class="sub-headline">Monday, May 12th 2014</p>
					<div class="message">
						<p>We are proud to announce that we now have support for the popular Tumblr blogging platform. Tumblr support has been one of our users' most requested features.</p>
					</div>
				</article>

				<div class="press-divider"></div>

				<article class="press-release">
					<h2>Feedient reaches 10,000 user milestone</h2>
					<p class="sub-headline">Sunday, May 11th 2014</p>
					<div class="message">
						<p>We are excited to announce that 10,000 users now have signed up for Feedient, in just two weeks since the launch of our open beta phase. We are amazingly thankful for your great support and invaluable feedback.</p>
					</div>
				</article>

				<div class="press-divider"></div>

				<article class="press-release">
					<h2>Feedient launches "Open Beta" phase</h2>
					<p class="sub-headline">Friday, April 25th 2014</p>
					<div class="message">
						<p>After half a year of hard work, we have finally decided to make Feedient publicly available for anyone to try. What started out as a simple idea, has now grown into a working product. However, we are not dropping the “beta” label just yet; Feedient is still far from finished. Bugs and lack of features are still to be expected.</p>
					</div>
				</article>

				<div id="help-contact">If you have questions, please contact us at <a href="mailto:contact@feedient.com">contact@feedient.com</a></div>
			</section>
		</section>

		<section class="content-wrapper">
			<section class="center" style="font-size:0;">
				<h1 style="text-align:center;">Press assets</h1>
				<article class="asset-pack">
					<img height="120" src="images/press/logo-assets.png" alt="Feedient logotype assets">
					<div class="description">
						<h2>Logotype and icon</h2>
						<p>High resolution brand assets.</p>
						<a href="/press/Feedient_Brand_Assets.zip" class="button"><i class="fa fa-download"></i>Download</a>
					</div>
					<div class="clear"></div>
				</article>

				<article class="asset-pack">
					<img height="120" src="images/press/product-assets.jpg" alt="Feedient logotype assets">
					<div class="description">
						<h2>Product images</h2>
						<p>Product screenshots with example content.</p>
						<a href="/press/Feedient_Product_Assets.zip" class="button"><i class="fa fa-download"></i>Download</a>
					</div>
					<div class="clear"></div>
				</article>
			</section>
		</section>

		<section class="content-wrapper green-section">
			<section class="center" style="text-align:center;">
				<h1>Feedient in the news</h1>
				<div id="news-sites">
					<a href="http://olhardigital.uol.com.br/noticia/41719/41719" target="_blank"><img src="images/press/sites/olhardigital.png" alt="Olhar Digital" height="63"></a>&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="http://lifehacker.com/feedient-puts-your-twitter-facebook-and-instagram-fee-1569416764/all" target="_blank"><img src="images/press/sites/lifehacker.png" alt="LifeHacker" height="63"></a>
					<a href="http://24.ae/Article.aspx?ArticleId=74397" target="_blank"><img src="images/press/sites/24ae.png" alt="24.ae" height="63"></a>
					<a href="http://bitelia.com/2014/04/feedient-redes-sociales" target="_blank"><img src="images/press/sites/bitelia.png" alt="Bitelia" height="63"></a><br>
					<a href="http://www.techtudo.com.br/noticias/noticia/2014/05/feedient-reune-facebook-youtube-instagram-e-twitter-em-tela-unica.html" target="_blank"><img src="images/press/sites/techtudo.png" alt="TechTudo" height="63"></a>
					<a href="http://www.makeuseof.com/tag/gather-twitter-facebook-instagram-youtube-feeds-one-place/" target="_blank"><img src="images/press/sites/makeuseof.png" alt="MakeUseOf" height="63"></a>

					<a href="/contact" id="press-contact">Have you written about us? We would love to hear about it.</a>
				</div>
			</section>
		</section>

		<section class="content-wrapper">
			<section class="center">
				<p style="font-style:italic;font-size:13px;text-align:center;">The header photograph, <a href="https://www.flickr.com/photos/tomsoperphotography/7848666172/in/photostream/" target="_blank" rel="nofollow">“Landscape”</a> is copyright &copy; 2011 Tom Soper and made available under a Attribution 2.0 Generic license.</p>
			</section>
		</section>
				
		<% include views/modals %>
		<% include views/footer %>
	</body>
</html>
