<div class="announcement">
	<div class="right">
		<a href="javascript:void(0)" onClick="app.controller.closeSocialAnnouncement(this)">
			<i class="fa fa-times"></i>
		</a>
	</div>

	Follow Feedient on <a class="twitter-color" href="https://twitter.com/feedientapp" target="_blank"><i class="fa fa-twitter"></i> Twitter</a> or <a class="facebook-color" href="https://www.facebook.com/feedient" target="_blank"><i class="fa fa-facebook-square"></i> Facebook</a> for news and announcements</div>
</div>