<div id="lightbox" class="twitter">
	<div>
		<a href="javascript:void(0)" onClick="app.lib.ui.modal.hide()" class="close-modal">
			<i class="fa fa-times"></i>
		</a>
		<div class="clear"></div>
	</div>
	<div class="lightbox-image">
		<div class="loading"></div>
		<a href="{{imageURL}}" target="_blank"><img src="" alt="" id="lightbox-image" style="display:none;opacity:0;"></a>
	</div>

	<div class="post">
		{{#if retweeted_status}}
			{{> twitterRetweet}}
		{{else}}
			{{> twitterTweet}}
		{{/if}}
	</div>
</div>